---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import SocialList from "@/components/SocialList";
import { ghostToSimplePost, mdxToSimplePost, sortMDByDate } from "@/util";
import type { Post } from "@/types";
import ghost from "@/ghost";

const meta = {
	title: "andre c.",
	description: "Software development, ai, and learning",
};

const MAX_POSTS = 10;
const mdxPosts = await Astro.glob<Post>("./posts/*.mdx");
const mdxPostsByDate = sortMDByDate(mdxPosts)
	.slice(0, MAX_POSTS)
	.map(mdxToSimplePost);

const ghostPosts = await ghost.posts
	.browse({ limit: 5, include: "tags,authors", filter: "author:andre" })
	.then((p) => {
		return p.map(ghostToSimplePost);
	});

const allPostsByDate = [...mdxPostsByDate, ...ghostPosts];
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">Hey There!</h1>
		<p class="mb-4">
			Hi, I'm andre c. I'm a software engineer and I run <a
				href="http://lambdo.com"
				target="_blank"
				class="cactus-link">Lambdo</a
			>. I write about software development, ai, and learning.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="mb-4 text-xl title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="[&_q]:w-full flex flex-wrap items-center gap-x-2">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
