---
const props = Astro.props;
const classMap = {
	"kg-bookmark-container": "flex",
};

const newClass = Object.hasOwn(classMap, props.class)
	? classMap[props.class]
	: props.class;
---

<a class={newClass} href={props.href}><slot /></a>
